CRM_ExceptionFlow/CRM_ExceptionFlow/Workflows/CRM_Exception_RAG_Workflow.json
{
    "name": "CRM Exception RAG Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "exception-recommendation",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "9e6261e0-0c85-4456-a0bc-9a39f3474444",
            "name": "Webhook - Receive Exception",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -448,
                160
            ],
            "webhookId": "exception-recommendation"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "EXEC sp_SearchSimilarExceptions @Module = '{{ $json.body.module }}', @Keywords = '{{ $json.body.description }}', @TopResults = 5"
            },
            "id": "fa0e3e00-8d41-4fa2-b13f-9787db86a378",
            "name": "Search Database for Similar Exceptions",
            "type": "n8n-nodes-base.microsoftSql",
            "typeVersion": 1,
            "position": [
                -224,
                160
            ],
            "credentials": {
                "microsoftSql": {
                    "id": "prWchTLnMlY5Pdfp",
                    "name": "CRM Database"
                }
            },
            "notes": "Uses sp_SearchSimilarExceptions to find relevant history"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.length }}",
                            "operation": "larger"
                        }
                    ]
                }
            },
            "id": "25755387-d2b1-4ddc-aa31-801eb08d992b",
            "name": "Found Similar Exceptions?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                0,
                160
            ]
        },
        {
            "parameters": {
                "jsCode": "// Process database results and create RAG context\nconst similarExceptions = $input.all();\nconst currentException = $node['Webhook - Receive Exception'].json.body;\n\nconst context = similarExceptions.map((item, index) => {\n  return `\nSimilar Exception ${index + 1}:\nModule: ${item.json.Module}\nTitle: ${item.json.Title}\nDescription: ${item.json.Description}\nRecommendation: ${item.json.RecommendationText}\nConfidence: ${item.json.ConfidenceScore}\nWas Helpful: ${item.json.WasHelpful ? 'Yes' : 'No'}\n---`;\n}).join('\\n');\n\nreturn {\n  json: {\n    hasHistoricalData: true,\n    context: context,\n    currentException: currentException,\n    similarCount: similarExceptions.length,\n    bestMatch: similarExceptions[0]?.json || null\n  }\n};"
            },
            "id": "23ae5ffd-4f93-48d0-a53f-ba8d3089a382",
            "name": "Prepare RAG Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// No historical data found\nconst currentException = $node['Webhook - Receive Exception'].json.body;\n\nreturn {\n  json: {\n    hasHistoricalData: false,\n    context: 'No similar exceptions found in database.',\n    currentException: currentException\n  }\n};"
            },
            "id": "7a7df64d-cec0-42d0-8074-434c8e023852",
            "name": "No Historical Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                304
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sk-YOUR-OPENAI-API-KEY"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert CRM technical support assistant. Provide concise, actionable recommendations in 2-3 sentences maximum. Focus on root cause and specific solution steps. Use the historical data provided as context. Be direct and avoid unnecessary explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Exception:\\n- Project: {{ $json.currentException.projectId }}\\n- Module: {{ $json.currentException.module }}\\n- Issue: {{ $json.currentException.description }}\\n\\nHistorical Context:\\n{{ $json.context }}\\n\\nProvide a short, actionable solution (max 200 words). Return JSON: {\\\"recommendation\\\": \\\"solution in 2-3 sentences\\\", \\\"confidence\\\": 0-1, \\\"reasoning\\\": \\\"brief explanation\\\"}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n}",
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "id": "81d354d2-ebd3-4fc3-ac0f-3a65e0588bc6",
            "name": "Call OpenAI API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                224,
                160
            ],
            "notes": "Replace 'sk-YOUR-OPENAI-API-KEY' in Header"
        },
        {
            "parameters": {
                "jsCode": "// Parse OpenAI response and prepare final output\nconst items = $input.all();\nconst openaiResponse = items[0].json;\n\n// ✅ Get webhook data safely\nconst webhookData = $('Webhook - Receive Exception').first().json.body;\n\n// ✅ Initialize default context\nlet ragContext = {\n  hasHistoricalData: false,\n  similarCount: 0\n};\n\n// ✅ Try to get context - handle both paths\ntry {\n  // Check which path was executed\n  const prepareRAG = $('Prepare RAG Context').all();\n  const noHistorical = $('No Historical Data').all();\n  \n  if (prepareRAG.length > 0) {\n    ragContext = prepareRAG[0].json;\n  } else if (noHistorical.length > 0) {\n    ragContext = noHistorical[0].json;\n  }\n} catch (error) {\n  // Use default context if error\n  console.log('Using default context');\n}\n\n// ✅ Function to clean text\nfunction cleanText(text) {\n  if (!text) return '';\n  return text\n    .replace(/[\\r\\n]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .replace(/[^\\x20-\\x7E\\u0600-\\u06FF]/g, '')\n    .replace(/'/g, \"''\")\n    .trim();\n}\n\nlet recommendation = '';\nlet confidence = 0.65;\nlet reasoning = 'Generated from AI analysis';\n\n// ✅ Parse OpenAI response\ntry {\n  if (openaiResponse && openaiResponse.choices && openaiResponse.choices[0]) {\n    const content = openaiResponse.choices[0].message.content;\n    \n    // Try parsing as JSON\n    try {\n      const parsed = JSON.parse(content);\n      recommendation = cleanText(parsed.recommendation || content);\n      confidence = parsed.confidence || (ragContext.hasHistoricalData ? 0.85 : 0.65);\n      reasoning = cleanText(parsed.reasoning || reasoning);\n    } catch (e) {\n      // Not JSON, use raw text\n      recommendation = cleanText(content);\n      confidence = ragContext.hasHistoricalData ? 0.85 : 0.65;\n      reasoning = ragContext.hasHistoricalData \n        ? 'Based on similar historical exceptions' \n        : 'Generated from AI analysis';\n    }\n  } else {\n    recommendation = 'No recommendation available';\n  }\n} catch (error) {\n  recommendation = 'Error generating recommendation';\n  console.error('Error parsing OpenAI response:', error);\n}\n\n// ✅ Return clean response\nreturn {\n  json: {\n    exceptionId: webhookData.exceptionId,\n    projectId: webhookData.projectId,\n    module: webhookData.module,\n    recommendation: recommendation,\n    confidence: confidence,\n    model: 'gpt-4o-mini',\n    source: ragContext.hasHistoricalData ? 'Hybrid' : 'AI_Model',\n    isFromDatabase: ragContext.hasHistoricalData,\n    reasoning: reasoning,\n    similarExceptionsFound: ragContext.similarCount || 0,\n    generatedAt: new Date().toISOString()\n  }\n};"
            },
            "id": "0b1ebec7-94b7-45b7-9fd7-c876096eea8c",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                448,
                160
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO AIRecommendations (\n    ExceptionId, \n    RecommendationText, \n    ConfidenceScore, \n    Model, \n    Source, \n    IsFromDatabase, \n    GeneratedAt\n)\nVALUES (\n    {{ $json.exceptionId }}, \n    '{{ $json.recommendation }}',\n    {{ $json.confidence }}, \n    '{{ $json.model }}', \n    '{{ $json.source }}', \n    {{ $json.isFromDatabase ? 1 : 0 }}, \n    GETUTCDATE()\n);\n\n-- SELECT SCOPE_IDENTITY() AS RecommendationId;"
            },
            "id": "578c42b2-f143-401e-a63b-6d6afa1f9141",
            "name": "Save Recommendation to Database",
            "type": "n8n-nodes-base.microsoftSql",
            "typeVersion": 1,
            "position": [
                784,
                256
            ],
            "credentials": {
                "microsoftSql": {
                    "id": "prWchTLnMlY5Pdfp",
                    "name": "CRM Database"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "1905292b-33dd-41c7-858b-b153423054bf",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                784,
                96
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook - Receive Exception": {
            "main": [
                [
                    {
                        "node": "Search Database for Similar Exceptions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Database for Similar Exceptions": {
            "main": [
                [
                    {
                        "node": "Found Similar Exceptions?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Found Similar Exceptions?": {
            "main": [
                [
                    {
                        "node": "Prepare RAG Context",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Historical Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare RAG Context": {
            "main": [
                [
                    {
                        "node": "Call OpenAI API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "No Historical Data": {
            "main": [
                [
                    {
                        "node": "Call OpenAI API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call OpenAI API": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Save Recommendation to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Recommendation to Database": {
            "main": [
                []
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "dcac089f-b72c-41db-bba8-1c69730bd626",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "690180a6ca5e5349625466d1c03be56a52431a75e200792f9ffe4951f0326085"
    },
    "id": "2TMRXNqSm6TXe4LT",
    "tags": []
}